n8n/alerts-report.json
{
  "name": "Yard Stats: Alerts Report",
  "nodes": [
    {
      "id": "1",
      "name": "Daily at 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "triggerAtHour": 7 }]
        }
      }
    },
    {
      "id": "2",
      "name": "Call Report API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "notes": "Sibling of 'Yard Stats: Daily Report', differing in source=visits: report.py/db.get_report_data dedup the same way POST /ai-queue/claim's source=visits does -- one sighting per distinct object type a visit grouped (partitioned by (visit_id, objects), not visit_id alone), plus every sighting whose raw_event was never grouped into a visit, so re-tracked duplicates of the same object (re-track, label flicker) still collapse to one, but a visit spanning a car and a person shows both. The HTML itself also renders differently: source=visits combines a visit's vehicle + person sightings into one alert row (one thumbnail, a Vehicle summary column, a Person summary column) instead of the separate Vehicles/Persons tables the Daily Report uses -- they're the same real-world activity, so they show up together. Purely a read -- this can run alongside the events-scoped Daily Report without any queue-sharing conflict, and there's now only one AI-queue processing workflow either way (see CLAUDE.md). Also always prefers the visit's own high-res thumb_time re-crop (VISIT_THUMB_CROP_ENABLED) over the representative event's crop when available -- unlike the AI queue, there's no latency trade-off here since this runs well after the fact on a schedule, so it's unconditional, not an opt-in param.",
      "notesInFlow": true,
      "parameters": {
        "method": "GET",
        "url": "http://REPLACE_WITH_INGEST_WORKER_HOST:REPLACE_WITH_INGEST_WORKER_PORT/reports/generate",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "hours", "value": "24" },
            { "name": "source", "value": "visits" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "ingest-worker API Key"
        }
      }
    },
    {
      "id": "7",
      "name": "Convert Report to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1050, 300],
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "fileName": "yard-stats-alerts-report.html",
          "mimeType": "text/html"
        }
      }
    },
    {
      "id": "5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 200],
      "parameters": {
        "fromEmail": "REPLACE_WITH_FROM_ADDRESS",
        "toEmail": "REPLACE_WITH_TO_ADDRESS",
        "subject": "=Yard Stats Alerts Report -- {{ $now.format('yyyy-MM-dd') }}",
        "emailType": "html",
        "html": "={{ $json.html }}",
        "options": {
          "attachments": "data"
        }
      },
      "credentials": {
        "smtp": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "REPLACE_WITH_SMTP_CREDENTIAL"
        }
      }
    },
    {
      "id": "6",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 400],
      "parameters": {
        "resource": "file",
        "operation": "sendDocument",
        "chatId": "REPLACE_WITH_CHAT_ID",
        "binaryData": true,
        "binaryPropertyName": "data",
        "caption": "={{ $json.caption }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "REPLACE_WITH_TELEGRAM_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Daily at 7am": {
      "main": [[{ "node": "Call Report API", "type": "main", "index": 0 }]]
    },
    "Call Report API": {
      "main": [[{ "node": "Convert Report to File", "type": "main", "index": 0 }]]
    },
    "Convert Report to File": {
      "main": [
        [
          { "node": "Send Email", "type": "main", "index": 0 },
          { "node": "Send Telegram", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
