n8n/metadata-processor.json
{
  "name": "Yard Stats: Metadata Processor (Car/Truck/Person)",
  "nodes": [
    {
      "id": "1",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      }
    },
    {
      "id": "26",
      "name": "Claim Next Batch (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "notes": "Replaces the old Reap Stale Processing Items / Count In-Progress Items / Check Capacity / Claim Next Batch Postgres+Code+If nodes -- ingest-worker's /ai-queue/claim now does all four steps in one call (reap stale, count in-progress, compute capacity, atomically claim up to parallel_limit crop_status='done' rows FOR UPDATE SKIP LOCKED). Tune throughput by editing the query params below. Returns {events: [...]} -- empty if no capacity or no work.",
      "notesInFlow": true,
      "parameters": {
        "method": "POST",
        "url": "http://REPLACE_WITH_INGEST_WORKER_HOST:REPLACE_WITH_INGEST_WORKER_PORT/ai-queue/claim",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "object_types", "value": "car,truck,person" },
            { "name": "parallel_limit", "value": "3" },
            { "name": "stale_minutes", "value": "5" }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "ingest-worker API Key"
        }
      }
    },
    {
      "id": "80",
      "name": "Split Claimed Events",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [600, 300],
      "notes": "Splits the {events: [...]} array from Claim Next Batch (API) into one n8n item per claimed event -- an HTTP node's raw JSON response doesn't reliably auto-split into items across n8n versions, so this is explicit rather than relied-upon.",
      "notesInFlow": true,
      "parameters": {
        "fieldToSplitOut": "events"
      }
    },
    {
      "id": "3",
      "name": "Loop Over Claimed Events",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "13",
      "name": "Preview Crop",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1050, 50],
      "onError": "continueErrorOutput",
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "crop_image_base64",
        "options": {
          "fileName": "crop.jpg",
          "mimeType": "image/jpeg"
        }
      }
    },
    {
      "id": "31",
      "name": "Is Person?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1050, 250],
      "notes": "Routes each claimed row by its object type -- person goes to the person-description prompt/table, everything else (car/truck, guaranteed by Claim Next Batch (API)'s object_types param) goes to the vehicle-attributes+plate prompt/table.",
      "notesInFlow": true,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condp1",
              "leftValue": "={{ $json.objects }}",
              "rightValue": "person",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "7",
      "name": "Call VLM (Person)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 100],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "http://REPLACE_WITH_VLM_HOST:REPLACE_WITH_VLM_PORT/spare/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messages\": [ { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": \"Describe this person's clothing colors and what they appear to be doing, in one short sentence. No speculation about identity.\" }, { \"type\": \"image_url\", \"image_url\": { \"url\": \"data:image/jpeg;base64,\" + $json.crop_image_base64 } } ] } ], \"temperature\": 0 } }}",
        "options": {}
      }
    },
    {
      "id": "8",
      "name": "Parse VLM Response (Person)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 100],
      "parameters": {
        "jsCode": "const raw = $('Loop Over Claimed Events').item.json;\nconst vlmResponse = $input.first().json;\n\nlet description = null;\nlet notes = null;\ntry {\n  description = vlmResponse.choices?.[0]?.message?.content ?? null;\n} catch (err) {\n  notes = String(err);\n}\n\nreturn [{\n  json: {\n    raw_event_id: raw.id,\n    description,\n    notes,\n  },\n}];"
      }
    },
    {
      "id": "9",
      "name": "Insert Person Sighting (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 100],
      "notes": "Replaces the old Insert Person Sighting + Mark Done Postgres node pair -- ingest-worker's POST /sightings/persons inserts the sighting and marks ai_status='done' in one DB transaction.",
      "notesInFlow": true,
      "parameters": {
        "method": "POST",
        "url": "http://REPLACE_WITH_INGEST_WORKER_HOST:REPLACE_WITH_INGEST_WORKER_PORT/sightings/persons",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"raw_event_id\": $json.raw_event_id, \"description\": $json.description, \"notes\": $json.notes } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "ingest-worker API Key"
        }
      }
    },
    {
      "id": "70",
      "name": "Call Qwen (Attributes + Plate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "onError": "continueErrorOutput",
      "notes": "Merged attributes + plate OCR into one call for speed (one ~45-90s LLM round trip per vehicle event instead of two). Trade-off: Qwen isn't a dedicated OCR specialist, so plate_text_llm may be less accurate than a separate-OCR-model approach -- plate_text_frigate (Frigate's own LPR read) is kept alongside it as a cross-check either way.",
      "notesInFlow": true,
      "parameters": {
        "method": "POST",
        "url": "http://REPLACE_WITH_VLM_HOST:REPLACE_WITH_VLM_PORT/spare/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messages\": [ { \"role\": \"user\", \"content\": [ { \"type\": \"text\", \"text\": \"Look at this cropped photo of a vehicle. Respond with ONLY a JSON object, no other text before or after it, no markdown, no explanation: {\\\"color\\\": string, \\\"body_type\\\": string (e.g. sedan/suv/truck/van/pickup/minivan), \\\"make\\\": string or null if unsure, \\\"make_confidence\\\": \\\"low\\\"|\\\"medium\\\"|\\\"high\\\", \\\"model\\\": string or null if unsure (e.g. \\\"F-150\\\", \\\"Camry\\\", \\\"Model 3\\\" -- the specific model, not just the make), \\\"model_confidence\\\": \\\"low\\\"|\\\"medium\\\"|\\\"high\\\", \\\"notable_features\\\": string or null, a short phrase (under 10 words) for anything visually distinctive -- roof rack, ladder rack, trailer hitch, bike rack, tinted windows, decals or commercial branding/text, visible damage or rust, unusual color/wrap, aftermarket wheels/lift kit -- use null if the vehicle looks unremarkable, \\\"plate_text\\\": string or null}. plate_text must be ONLY the plate's characters (e.g. \\\"10MG407\\\") with no spaces, punctuation, labels, or reasoning -- if no plate is visible or legible, use null. Do not describe your process.\" }, { \"type\": \"image_url\", \"image_url\": { \"url\": \"data:image/jpeg;base64,\" + $json.crop_image_base64 } } ] } ], \"temperature\": 0 } }}",
        "options": {}
      }
    },
    {
      "id": "72",
      "name": "Parse VLM Responses (Vehicle)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400],
      "parameters": {
        "jsCode": "const raw = $('Loop Over Claimed Events').item.json;\nconst response = $input.first().json;\n\nlet parsed = {};\ntry {\n  const text = response.choices?.[0]?.message?.content ?? '';\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {};\n} catch (err) {\n  parsed = { _parse_error: String(err) };\n}\n\n// Defensive against the model ignoring the \"ONLY the plate's characters\" instruction and\n// writing a narrative explanation into plate_text instead (seen in real data -- prompt wording\n// alone doesn't guarantee compliance). A clean short token passes through as-is; anything with\n// whitespace/newlines or over 15 chars gets the most plate-like token pulled out of it instead.\nfunction sanitizePlate(text) {\n  if (!text) return null;\n  const trimmed = String(text).trim();\n  if (!trimmed) return null;\n  if (!/\\s/.test(trimmed) && trimmed.length <= 15) return trimmed;\n  const tokens = trimmed.match(/[A-Z0-9-]{4,14}/g);\n  return tokens ? tokens[tokens.length - 1] : trimmed;\n}\n\nreturn [{\n  json: {\n    raw_event_id: raw.id,\n    color: parsed.color ?? null,\n    body_type: parsed.body_type ?? null,\n    make_guess: parsed.make ?? null,\n    make_confidence: parsed.make_confidence ?? null,\n    model_guess: parsed.model ?? null,\n    model_confidence: parsed.model_confidence ?? null,\n    notable_features: parsed.notable_features ?? null,\n    plate_text_llm: sanitizePlate(parsed.plate_text),\n    plate_text_frigate: raw.sub_label ?? null,\n    plate_confidence: null,\n    notes: parsed._parse_error ?? null,\n  },\n}];"
      }
    },
    {
      "id": "73",
      "name": "Insert Vehicle Sighting (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 400],
      "notes": "Replaces the old Insert Vehicle Sighting + Mark Done Postgres node pair -- ingest-worker's POST /sightings/vehicles inserts the sighting and marks ai_status='done' in one DB transaction.",
      "notesInFlow": true,
      "parameters": {
        "method": "POST",
        "url": "http://REPLACE_WITH_INGEST_WORKER_HOST:REPLACE_WITH_INGEST_WORKER_PORT/sightings/vehicles",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"raw_event_id\": $json.raw_event_id, \"color\": $json.color, \"body_type\": $json.body_type, \"make_guess\": $json.make_guess, \"make_confidence\": $json.make_confidence, \"model_guess\": $json.model_guess, \"model_confidence\": $json.model_confidence, \"notable_features\": $json.notable_features, \"plate_text_llm\": $json.plate_text_llm, \"plate_text_frigate\": $json.plate_text_frigate, \"plate_confidence\": $json.plate_confidence, \"notes\": $json.notes } }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "ingest-worker API Key"
        }
      }
    },
    {
      "id": "28",
      "name": "Handle Failure (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 600],
      "notes": "Any VLM call's error branch (person or vehicle path) lands here. ingest-worker's POST /ai-queue/{id}/fail runs the same retry-or-fail-with-cap logic the old Handle Failure (Retry or Fail) Postgres node did: below max_attempts goes back to ai_status='retry' (picked up again on a future run, not looped in this execution), at/above it becomes 'failed' (terminal).",
      "notesInFlow": true,
      "parameters": {
        "method": "POST",
        "url": "=http://REPLACE_WITH_INGEST_WORKER_HOST:REPLACE_WITH_INGEST_WORKER_PORT/ai-queue/{{ $('Loop Over Claimed Events').item.json.id }}/fail",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "max_attempts", "value": "3" }]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "ingest-worker API Key"
        }
      }
    },
    {
      "id": "10",
      "name": "Log Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 600],
      "parameters": {}
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [[{ "node": "Claim Next Batch (API)", "type": "main", "index": 0 }]]
    },
    "Claim Next Batch (API)": {
      "main": [[{ "node": "Split Claimed Events", "type": "main", "index": 0 }]]
    },
    "Split Claimed Events": {
      "main": [[{ "node": "Loop Over Claimed Events", "type": "main", "index": 0 }]]
    },
    "Loop Over Claimed Events": {
      "main": [
        [],
        [
          { "node": "Preview Crop", "type": "main", "index": 0 },
          { "node": "Is Person?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Person?": {
      "main": [
        [{ "node": "Call VLM (Person)", "type": "main", "index": 0 }],
        [{ "node": "Call Qwen (Attributes + Plate)", "type": "main", "index": 0 }]
      ]
    },
    "Call VLM (Person)": {
      "main": [
        [{ "node": "Parse VLM Response (Person)", "type": "main", "index": 0 }],
        [{ "node": "Handle Failure (API)", "type": "main", "index": 0 }]
      ]
    },
    "Parse VLM Response (Person)": {
      "main": [[{ "node": "Insert Person Sighting (API)", "type": "main", "index": 0 }]]
    },
    "Insert Person Sighting (API)": {
      "main": [[{ "node": "Loop Over Claimed Events", "type": "main", "index": 0 }]]
    },
    "Call Qwen (Attributes + Plate)": {
      "main": [
        [{ "node": "Parse VLM Responses (Vehicle)", "type": "main", "index": 0 }],
        [{ "node": "Handle Failure (API)", "type": "main", "index": 0 }]
      ]
    },
    "Parse VLM Responses (Vehicle)": {
      "main": [[{ "node": "Insert Vehicle Sighting (API)", "type": "main", "index": 0 }]]
    },
    "Insert Vehicle Sighting (API)": {
      "main": [[{ "node": "Loop Over Claimed Events", "type": "main", "index": 0 }]]
    },
    "Handle Failure (API)": {
      "main": [[{ "node": "Log Failure", "type": "main", "index": 0 }]]
    },
    "Log Failure": {
      "main": [[{ "node": "Loop Over Claimed Events", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 350
  }
}
